footer{
	background-color: whitesmoke;

	display: grid;
	grid-template-columns: 1fr ;
	grid-template-rows: 25% 75%;
	grid-template-areas: 
	"h2"
	"colunas";
}

footer h2{
	grid-area: h2;
	text-align: center;
}

footer div{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	gap: 10px;
}

.colunas{
	display: flex;
	flex-flow: row nowrap;
	align-items: start;
	justify-content: center;
	padding: 5px 10px 10px 20px;
	gap: 10px;
}

.colunas div{
	flex: 1;
	
	span{
		max-width: 20em;
	}
}

.logo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    column-gap: 2px;
}

.logo img{
  height: 30px;
  border: none;
}