main{

    padding: 10px;

    width: 50%;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-flow: row wrap;
    flex: 1;
    align-items: start;
    justify-content: center;

    span{
        display: flex;
        flex-flow: row nowrap;

        justify-content: start;
        align-items: center;
        column-gap: 5px;
        padding: 5px 0;
    }

    h3{
        flex: 1 1 100%;
        text-align: center;
    }

    img{
        height: 50px;
        width: 50px;
    }

    margin: auto;
    border-radius: 10px;
}

div:last-child{
    padding-left: 10px;
    border-left: 1px black solid;
}