@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&    display=swap'); 

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::root{
	font-size: 62.5%;
}

body{
	font-family: "Roboto Condensed", sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 80% 10%;
	grid-template-areas: 
	"menu" 
	"main"
	"rodape";
}

menu-padrao{
	grid-area: menu;
}

main{
	grid-area: main;
	display: flex;
	flex-flow: column nowrap;

	gap: 2em;
	justify-content: center;
	align-items: center;

	h1{
		font-family: "Dosis", sans-serif;
	} 

	p{
		max-width: 30em;
	}

	img{
		width: 50%;
	}
}

rodape-padrao{
	grid-area: rodape;
}